body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #b2967d;
  }

  .calculator {
    background: #4684be;
    width: 300px;
    border-radius: 12px;
    border: #090909 solid 5px;
    box-shadow: 0 4px 10px rgba(196, 7, 7, 0.2);
    padding: 20px;
  }

  .calculator-display {
    width: 100%;
    height: 60px;
    background: #e7d8c9;
    border: rgb(83, 82, 82) solid 2px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
  }

  .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .button {
    height: 60px;
    border: none;
    border-radius: 8px;
    background: #eee4e1;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .button:hover {
    background: #cdc1ff;
  }

  .button-clear {
    background: #3dbee2;
  }

  .button-clear:hover {
    background: #df647f;
  }

  .button-equal {
    background: #2cdfa4;
    grid-column: span 2;
  }

  .button-equal:hover {
    background: #71e578;
  }