body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    background-color: #e7e4e4;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-download{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.8s;
}

.btn-download:hover{
    background: #000000;
    color: #ffffff;
}

.btn-text {
    position: relative;
    top: 30%;
    transform: translateY(-50%);  
    z-index: 1;
    transition: all 0.8s;
}

.btn-download i{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.btn-download:hover i{
    top: 50%;
}

.btn-download:hover .btn-text{
    top: -200%;
}
