@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif; /* Corrected capitalization */
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('pic.jpg'); /* Ensure the image URL is correct and accessible */
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: rgb(255, 85, 0);
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Add spacing between links */
}

.navbar .toggle_btn {
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
     
}

.section_btn {
    background-color: orange;
    color: #fff; 
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 1rem;
    cursor: pointer;
    transform: sacle 0.2s ease-in-out;
     
}

.action_btn:hover {
     scale:1.05;
     color: #fffdef;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdown */

.drop-down {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px; 
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);;
}

.drop-down .open{
    height: 240px;

}

.drop-down li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;


} 


.drop-down .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}

/* hero */
 section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
 }

 #hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;



 }
/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links, 
    .navbar .action_btn{
    display: none; 
 }

.navbar .toggle_btn {
    display: block;  

}

.drop-down{
    display: block;
    }
}
@media (max-width : 576px) {
    .drop-down{
        left: 2rem;
        width:unset;
    }


    
}
